{% extends "base.html" %}

{% block title %}ListView{% endblock  %}

{% block script %}
$( document ).ready(function() {
    console.log("working");
    var tweets_list = [];
    var query = getParameterByName('q');

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function parseTweets(){
        if (tweets_list == 0){
             $('#tweet-container').text("No Tweet currently found");
        }else{
            $.each( tweets_list, function( key, value ) {
                var tweet_key = key;
                var tweet_user = value.user.username;
                var tweet_content = value.content;
                console.log(tweet_user);
                $('#tweet-container').append(
                    "<div class='media'><div class='media-body'>" + tweet_content + "<br> via : " + tweet_user + "<a href='#'> View </a></div></div><hr/>"
                )
            });
        }
    }
    $.ajax({
        url: 'http://127.0.0.1:8000/api/tweets/',
        data:{'q':query},
        success: function(data , textStatus ,jqXHR){
            tweets_list = data;
            parseTweets();
        },
        error: function(jqXHR, textStatus, errorThrown){
            console.log(textStatus)
            console.log(errorThrown)
        }
    });
});

{% endblock script %}

{% block content %}

<br>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

{% if not request.GET.q %}
    <div class="">
        {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet'%}
    </div>
{% endif %}

<div id="tweet-container">
</div>
{% comment %} 
{% for obj in object_list %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                {% if obj.img %}
                    <img src="img_avatar1.png" class="media-object" style="width:60px">
                {% endif %}
                </a>
            </div>
            <div class="media-body">
                {{ obj.content }} | <br>
                via : {{ obj.user }} | {{ obj.timestamp|timesince }} ago <a href="{{ obj.get_absolute_url }}">View</a>
            </div>
        </div>
        <hr/>
        {% empty %}
            {% if request.GET.q %}
                <p>No Tweet Found </p>
            {% else %}
                <p>EMPTY FORM</p>
            {% endif %}
{% endfor %} {% endcomment %}

    </div>
</div>

{% endblock content %}
