{% extends "base.html" %}

{% block title %}ListView{% endblock  %}

{% block content %}

<br>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

{% if not request.GET.q %}
    <div class="">
        {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet'%}
    </div>
{% endif %}

{% for obj in object_list %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                {% if obj.img %}
                    <img src="img_avatar1.png" class="media-object" style="width:60px">
                {% endif %}
                </a>
            </div>
            <div class="media-body">
                {{ obj.content }} | <br>
                via : {{ obj.user }} | {{ obj.timestamp|timesince }} ago <a href="{{ obj.get_absolute_url }}">View</a>
            </div>
        </div>
        <hr/>
        {% empty %}
            {% if request.GET.q %}
                <p>No Tweet Found </p>
            {% else %}
                <p>EMPTY FORM</p>
            {% endif %}
{% endfor %}

    </div>
</div>

{% endblock content %}
