{% extends "base.html" %}

{% block title %}Hashtags{% endblock  %}

{% block script %}
$( document ).ready(function() {
    loadTweetContainer("tweet-container")
});
{% endblock script %}

{% block content %}

<br>
<div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <h1> #{{obj.tag}}</h1>
        <hr/>
        <div id="tweet-container"  data-url="/api/tags/{{obj.tag}}/">
        </div>
        <span id="loadmore">Load More ... </span>
        <br>
    </div>
</div>

{% endblock content %}
