{% extends "base.html" %}

{% block title %}
Profiles {{obj_user.username}}
{% endblock title %}Profiles {{obj_user.username}}

{% block script %}
$( document ).ready(function() {
    loadTweetContainer("tweet-container")
});
{% endblock script %}

{% block content %}

<div class="row">
    <div class="col-sm-3 col-xs-12">
        <ul style="list-style:none;">
            <li><h2>{{obj_user.username}}</h2></li>
            {% if user != obj_user %}<li><h2><a class="btn btn-link" href="{% url 'profiles:follow' username=obj_user.username %}">{% if is_follow %}Unfollow{%else%}Follow{%endif%}</a></h2></li>{% endif %}
            <li><h4>Following : {{ obj_user.profile.following.all.count }}</h4></li>
            <li><h4>Followers : {{ obj_user.followed_by.all.count }}</h4></li>
        </ul>
    </div>
    <div class="col-sm-9 col-xs-12">
        <br>
        
        <div id="tweet-container"  data-url="/api/{{obj_user.username}}/tweets/">

        </div>
        <span id="loadmore">Load More ... </span>

        <h2>Following</h2><br>
        {% for obj in obj_user.profile.following.all %}
            <a href="/{{ obj.username }}">{{ obj.username }}</a><br>
        {% empty %}
            <p>not followind any user</p><br>
        {% endfor %}

        <h2>Followed By</h2><br>

        {% for obj in obj_user.followed_by.all %}
            <a href="/{{ obj.user.username }}">{{ obj.user.username }}</a><br>
        {% empty %}
            <p>not followed by any user</p><br>
        {% endfor %}
        <br><br>
    </div>
</div>

{% endblock content %}