{% load static %}
<nav class="navbar navbar-default">
<div class="container">

<!-- BRAND -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" style='display:inline;' href="{% url 'home' %}"><span><img style="vertical-align: -1px;margin-right: 8px;" src="{% static 'favicon.ico' %}" /></span><span>Tweet ME</span></a>
</div>

<!-- COLLAPSIBLE NAVBAR -->
<div class="collapse navbar-collapse" id="alignment-example">
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Account <span class="caret"></span></a>
        {% if request.user.is_authenticated %}
            <ul class="dropdown-menu">
                <li><a href="{{ request.user.profile.get_absolute_url }}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        {% else %}
            <ul class="dropdown-menu">
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        {% endif %}
</ul>

<!-- Links -->
<ul class="nav navbar-nav">
</ul>

<!-- Search -->
{% include "tweets/search.html" %}


</div>

</div>
</nav>